<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque voluptatum
      asperiores voluptatem porro maiores quas est, vero iste nulla explicabo.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <!--  card__header because it can be used only in card component  -->
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
        omnis dolore aspernatur atque minus voluptatibus ducimus incidunt
        doloremque porro et, libero provident eveniet, adipisci quasi dicta
        cupiditate cumque neque. Libero.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque voluptatum
      asperiores voluptatem porro maiores quas est, vero iste nulla explicabo.
    </p>
  </div>
</section>
