<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>Care for everybody</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture
      class="block-showcase__picture"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <source
        type="image/webp"
        srcset="images/pills.webp 1x, images/pills-2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="images/pills.jpg 1x, images/pills-2x.jpg 2x"
      />
      <img src="images/pills-2x.jpg" alt="Pills in hand" />
    </picture>
    <ul class="list" data-aos="fade-up" data-aos-duration="1000">
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Oral use</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            sed sit assumenda aperiam blanditiis, esse quod adipisci error neque
            nesciunt?
          </p>
        </div>
      </li>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Quick effect</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            sed sit assumenda aperiam blanditiis, esse quod adipisci error neque
            nesciunt?
          </p>
        </div>
      </li>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Health guarantee</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            sed sit assumenda aperiam blanditiis, esse quod adipisci error neque
            nesciunt?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
