<section
  class="block container block-domain"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <header class="block__header">
    <h2 class="block__heading">
      What area of health care are you interested in?
    </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae similique
      facere magnam ex unde mollitia quasi magni inventore, aliquam optio!
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter care here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>Health</li>
    <li>
      <span class="badge badge--secondary">Spiritual</span>
    </li>
    <li>Homeopathic</li>
    <li>Herbals</li>
    <li>OTC</li>
    <li>Body</li>
  </ul>
</section>
