<section class="block block--color block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content" data-aos="fade-up">
      <h1 class="block__heading">Improving people’s health</h1>
      <p class="hero__tagline">Building on global pharmaceutical experience.</p>
      <a href="#" class="btn btn--stretched btn--accent">Take the medicine</a>
    </header>
    <picture class="hero__image" data-aos="zoom-in">
      <source
        type="image/webp"
        srcset="images/banner.webp 1x, images/banner-2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner-2x.png 2x"
      />
      <img class="hero__image" src="images/banner-2x.png" alt="" />
    </picture>
  </div>
</section>
