<section class="block container">
  <header class="block__header">
    <h2>We are focus on anybody</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      magni mollitia soluta autem cupiditate.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#bowl"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Herbals</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere alias
        reprehenderit ipsam, voluptatibus animi saepe magnam quam delectus.
        Asperiores, tempora.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/herbals.webp 1x, images/herbals-2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="images/herbals.jpg 1x, images/herbals-2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/herbals-2x.jpg"
        alt="Green herbals"
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#therapy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Spiritual</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere alias
        reprehenderit ipsam, voluptatibus animi saepe magnam quam delectus.
        Asperiores, tempora.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/spiritual.webp 1x, images/spiritual-2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="images/spiritual.jpg 1x, images/spiritual-2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/spiritual-2x.jpg"
        alt="Spiritual staff"
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#leaves"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Painless</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere alias
        reprehenderit ipsam, voluptatibus animi saepe magnam quam delectus.
        Asperiores, tempora.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/painless.webp 1x, images/painless-2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="images/painless.jpg 1x, images/painless-2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/painless-2x.jpg"
        alt="Painless feeling"
      />
    </picture>
  </article>
</section>
