<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#menu"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#chevron"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#leaves"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#line"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#quotes"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#therapy"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#tick"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="images/sprite.svg#search"></use>
  </svg>
</span>
