<nav class="nav collapsible">
  <a aria-label="Pharmo" class="nav__brand" href="/"
    ><img src="images/logo.svg" alt=""
  /></a>
  <svg class="icon icon--white nav__toggler">
    <use href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Shop</a></li>
    <li class="nav__item"><a href="#">Our Vision</a></li>
    <li class="nav__item"><a href="#">News</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
  </ul>
</nav>
<script src="js/main.js"></script>
