<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <picture>
        <source type="image/webp" srcset="images/testimonial.webp 1x" />
        <source type="image/jpeg" srcset="images/testimonial.jpg 1x" />
        <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
      </picture>
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae similique
        maxime dicta aliquid neque nihil reiciendis provident animi quos officia
        sint nemo incidunt illo adipisci excepturi numquam explicabo, eligendi
        asperiores!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Al Namer</h3>
            <p class="quote__organization">IT programmer</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
